.comp-3 {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.comp-3 img {
  width: 100%;
  position: absolute;
  top: 0;
}

.comp-3-wrapper {
  margin-top: 90px;
  margin-left: 195px;
  justify-content: center;
  align-items: center;
}

.comp-3-div h1 {
  font-size: 80px;
  line-height: 87px;
  color: white;
  width: 650px;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.comp-3-div {
  /* margin-top: 181px; */
  /* margin-left: 15px; */
}

.comp-3-div p {
  font-size: 20px;
  color: white;
  width: 554px;
  line-height: 28px;
  margin-bottom: 57px;
  margin-left: 23px;
}

.comp-3-div input {
  font-size: 13px;
  color: white;
  background-color: #ee3364;
  border: none;
  padding: 13px 32px 25px 44px;
  width: 180px;
  height: 60px;
  margin-left: 15px;
}
