.comp-6 {
  background-color: #ff434b;
}

.comp-6-title1 {
  margin-top: 167px;
  margin-left: 32px;
  font-size: 17px;
  margin-bottom: 15px;
  margin-right: 17px;
}

.comp-6-title2 {
  font-size: 43px;
  width: 850px;
  line-height: 47px;
  margin-bottom: 89px;
  margin-right: 10px;
  text-align: center;
}

.comp-6 img {
  margin-bottom: 60px;
  margin-right: 10px;
}

.comp-6-title3 {
  font-size: 14px;
  margin-bottom: 160px;
  margin-right: 12px;
}
